.header {
  padding: 1rem 0;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container .right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
input {
  padding: 0.8rem;
  border: none;
  border-radius: 5px;
}
.header {
  width: 100%;
  position: relative;
  z-index: 2;
}

svg {
  position: absolute;
  z-index: -1;
  right: 0;
  top: -40px;
}

@media (max-width: 1100px) {
  svg {
    top: -20px;
  }
}

@media (max-width: 1000px) {
  svg {
    height: 200px;
    top: 0;
  }
}

@media (max-width: 800px) {
  svg {
    top: 0px;
  }
  input {
    padding: 0.5rem;
  }
}
