.content {
  background-color: rgb(140, 213, 241);
  padding: 1rem 0;
}
.wave-background {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_row {
  display: flex;
  gap: 20px;
}
