.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 4rem 0;
}
.card {
  background-color: white;
  padding: 1.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.image {
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  width: 200px;
  height: 100px;
}
.product-description {
  height: 1.5rem;
  font-size: 12px;
  margin-bottom: 0.3rem;
}
.product-title {
  padding: 0.4rem 0;
  text-align: center;
  font-size: 14px;
}
.btn {
  display: flex;
  justify-content: space-between;
  margin-top: 0.3rem;
}

.btn-cart button {
  background-color: var(--medieum-purple-color);
  border-radius: 5px;
  text-align: center;
  color: white;
  border: none;
  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  width: 2.5rem;
}

.btn-cart button:hover {
  background-color: var(--dark-purple-color);
}
.btn-pagination button {
  width: 5rem;
  background-color: var(--dark-purple-color);
  border-radius: 5px;
  text-align: center;
  color: white;
  border: none;
  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 2rem;
}
.disabled {
  opacity: 0.6;
  pointer-events: none;
  cursor: not-allowed;
}
.details .category {
  text-align: center;
  font-weight: 600;
}
@media (max-width: 1100px) {
  .products {
    grid-template-columns: repeat(3, 1fr);
  }
  .card {
    padding: 1rem 0.5rem;
  }
}
@media (max-width: 767px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 576px) {
  .products {
    grid-template-columns: 1fr;
  }
}
