/* You can add global styles to this file, and also import other style files */
:root {
  --dark-purple-color: #6f2877;
  --medieum-purple-color: #923f98;
  --light-purple-color: #b989bd;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 90%;
  margin: 0 auto;
}
.loader_container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.loader:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid var(--light-purple-color);
  border-color: var(--light-purple-color) transparent var(--light-purple-color)
    transparent;
  animation: loader 1.2s linear infinite;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
